@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}
@import "tailwindcss";

@layer utilities {
  .delay-700 {
    animation-delay: 700ms;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: #0b0f1a;
}
